---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Árabes"
    description="Descubra el arte y la cultura de los pueblos musulmanes"
>
    <section>
        <h1 class="font-arabian">Árabes</h1>
    </section>
</Layout>
