---
import { Image } from "astro:assets";
import Art from "../components/Art.astro";
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/inter";
---

<Layout
    title="Árabes"
    description="Descubra el arte y la cultura de los pueblos musulmanes"
>
    <section class="text-center m-8">
        <h1 class="font-arabian text-5xl">Árabes</h1>
        <p>
            El reino árabe fue uno de los más grandes de la Edad Media. Además,
            eran famosos por ser muy cultos y sabios.
        </p>
        <article>
            <h2 class="text-3xl font-arabian">Cultura</h2>
            <p class="font-inter">
                El pueblo árabe nos trajo grandes mejoras en el regadío y la
                economía. Además, introdujo los números arábigos (1,2,3,4,...).
                Tambien trajeron inventos chinos y griegos desconocidos en
                España, como el papel, la pólvora y astrolabio. También tuvieron
                grandes filósofos como Séneca.
            </p>
        </article>
        <article class="m-8 text-center">
            <h2 class="text-3xl font-arabian">Arte</h2>
            <div
                class="flex md:flex-row flex-col gap-1 justify-center align-middle items-center"
            >
                <Art title="Literatura" class="bg-blue-600" type="arabian">
                    <p class="flex justify-center">
                        En la literatura andalusí hubo grandes obras tanto en
                        verso como en prosa. En poesía, el tema recurrente era
                        la naturaleza. En prosa, también han habido grandes
                        obras, siendo una de las más importante «El Collar
                        Único» de Ibn 'Abd Rabbihi.
                        <Image
                            src="/img/author1.jpg"
                            height={100}
                            width={100}
                            alt="Ibn 'Abd Rabbihi"
                        />
                    </p>
                </Art>
                <Art class="bg-[#d17300]" title="Arquitectura" type="arabian"
                    ><p class="">
                        En la arquiitectura musulmana destaca un claro estilo,
                        el islámico. En este estilo destacan el uso de
                        muchísimos arcos, tambien se usaban muchos los tonos
                        rojizos. Los murales estan llenos de baldosas con
                        motivos musulmanes. Ejemplos son La Alahmbra o La
                        Mezquita de Córdoba
                        <div class="flex flex-row gap-2">
                            <Image
                                src="/img/alhambra.jpg"
                                alt="Alhambra"
                                width={70}
                                height={50}
                                class="rounded-md"
                            />
                            <Image
                                src="/img/mezquita.jpg"
                                alt="Mezquita"
                                width={70}
                                height={50}
                                class="rounded-md"
                            />
                        </div>
                    </p></Art
                >
            </div>
        </article>
    </section>
</Layout>
