---
import Layout from "../layouts/Layout.astro";
import Kingdom from "../components/Kingdom.astro";
---

<Layout
	title="Cultura y arte en la Edad Media"
	description="Informese sobre el arte y la cultura en la Edad Media"
>
	<section class="p-8">
		<h1 class="font-bold text-5xl font-old text-center m-2">
			Cultura y arte en la Edad Media
		</h1>
		<p class="font-inter text-center">
			La Edad Media fue una gran época para el arte y la cultura y nos
			dejó un gran legado en España y Andalucía
		</p>
		<div class="m-5 flex md:flex-row flex-col justify-center gap-2">
			<Kingdom
				to="/visigoth"
				class="font-old bg-[url('/img/visigoth.jpg')]"
				>Visigodos</Kingdom
			>
			<Kingdom
				to="/arabian"
				class="font-arabian bg-[url('/img/arabian.jpg')] text-3xl"
				>Árabes</Kingdom
			>
			<Kingdom
				to="/christian"
				class="font-old bg-[url('img/christian.jpg')]"
				>Cristianos</Kingdom
			>
		</div>
	</section>
</Layout>
