---
import Layout from "../layouts/Layout.astro";
import "@fontsource/new-rocker";
---

<Layout
	title="Cultura y arte en la Edad Media"
	description="Informese sobre el arte y la cultura en la Edad Media"
	background="/img/background.jpg"
>
	<section>
		<h1 class="font-bold text-5xl font-old text-center m-2">
			Cultura y arte en la Edad Media
		</h1>
	</section>
</Layout>
