---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "@fontsource/new-rocker";
import Art from "../components/Art.astro";
import "@fontsource-variable/inter";
---

<Layout
    transition:animate="slide"
    title="Visigodos"
    description="Descubre todo el arte y la cultura de los visgodos"
>
    <section class="text-center p-8">
        <h1 class="text-5xl font-old">Visigodos</h1>

        <p class="font-inter">
            Fueron los visigodos el primer pueblo en asentarse en España. Fueron
            quienes asentaron el catolicismo como religión en España. Destacaron
            sus trabajos en orfebrería.
        </p>
    </section>
    <section class="m-5 text-center">
        <h2 class="text-3xl font-old">Cultura</h2>
        <p class="font-inter">
            El pueblo visigodo tenía fama de ser un poco bruto (y luego se
            preguntan porque hay tantos reyes visigodos), aún así, la cultura no
            decayó, lo más importante que trajeron los visigodos a España fue la
            religión católica. Los visgodos levantaron muchas iglesias.
        </p>
        <figcaption class="flex flex-col justify-center items-center">
            <Image
                src="/img/recaredo.jpg"
                alt="recaredo"
                width={320}
                height={543}
            />
            <figure>Rey Recaredo I. Primer rey visigodo católico</figure>
        </figcaption>
    </section>
    <section class="m-5">
        <h2 class="text-3xl font-old text-center">Arte</h2>

        <article
            class="flex md:flex-row flex-col gap-1 justify-center align-middle items-center"
        >
            <Art title="Literatura" class="bg-blue-500" type="christian">
                <p class="font-inter">
                    Los primeros libros visigodos eran una mezcla entre
                    literatura romana y la nueva literatura germánica. Pronto,
                    lo escritores godos empezaron a escribir libros con su
                    estilo. Uno de los libros más importantes de esta época
                    fueron las Etymologiae. Un libro en el que se explicaba el
                    origen de las palabras.
                </p>
            </Art>
            <Art title="Arquitectura" class="bg-[#d17300]" type="christian">
                <p class="font-inter items-center">
                    Los visigodos tenáin una arquitectura caracterizada por
                    bloques grandes y diseño y regular con motivos religiosos
                </p>
                <Image
                    src="/img/crunch.jpg"
                    width={250}
                    height={250}
                    alt="Iglesia visgoda"
                    class="rounded-sm"
                />
            </Art>
            <Art title="Orfebrería" class="bg-yellow-400" type="christian">
                <p class="font-inter items-center text-sm">
                    Los visigodos fueron unos grandes orfebreros. la mayoría de
                    sus trabajos de orfebrería se trantaban de crucifijos.En
                    Torredonjimeno se descubrió un tesoro visigodo que se
                    trataba de varias coronas votivas.
                </p>
                <Image
                    src="/img/treasure.jpg"
                    alt="Tesoro de Torredonjimeno"
                    width={130}
                    height={150}
                />
            </Art>
        </article>
    </section>
</Layout>
