---
interface Props {
    title: string;
    class: string;
    type: "christian" | "arabian";
}
const { title, class: bg, type } = Astro.props;
---

<article
    class={`${bg} rounded-xl h-80 w-80 text-center flex  flex-col items-center cursor-pointer text-wrap`}
>
    <h3
        class={`text-2xl ${type === "christian" ? "font-old" : "font-arabian"}`}
    >
        {title}
    </h3>
    <p><slot /></p>
</article>
