---
interface Props {
	to: string;
	class?: string;
}
const { to, class: className } = Astro.props;
---

<a
	href={to}
	class={`${className} cursor-pointer w-[75%] p-8 md:w-[25%] text-center font-bold rounded-full text-xl `}
>
	<span class={``}> <slot /></span>
</a>
