---
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/index.css" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class={`bg-[url('/img/background.jpg')] `}>
		<slot />
	</body>
</html>
