---
interface Props {
	title: string;
	description: string;
	background: string;
}

const { title, description, background } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class={`bg-[url('${background}')] `}>
		<slot />
	</body>
</html>
